@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  font-family: 'Muli', sans-serif !important;
  max-width: 100%;
}

.Message {
  word-wrap: break-word;
}

.navbar-items
{
  padding: 1em;
  font-size: 1em !important;
  font-weight: bold;
  font-family: 'Muli', sans-serif !important;
}

p {
  line-height: 1.5em;
  font-size: 15px;
}

h1, h2, h3 {
  font-family: 'Muli', sans-serif !important;
}

.banner {
  background-color: #3c2fca;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#miniBanner {
  height: 10em !important;
}

#footer {
  background-color: #3c2fca;
  height: 5em;
  color: white;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 footer a:hover {
  color: white;
  text-decoration: none;
}

footer a {
  color: #2f6cca;
}

#iconLink {
  color: inherit;
}

.card-text {
  word-wrap: break-word;
}

#chat {
  min-height: 40em;
  max-height: 35em;
  overflow: auto;
}

#index-body {
  padding-top: 2em;
  padding-bottom: 2em;
}

#about-body {
  padding-top: 3em;
  padding-bottom: 3em;
}

#footer-content {
  padding-top: 0.5em;
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .navbar-items
  {
    padding: 1em;
    font-size: 1em !important;
    font-weight: bold;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}
